<div>
  {{#if user.fullname}}
    <p>Bienvenido, {{user.fullname}}!</p>
    <p>Pais: {{user.country}}</p>

    {{#if user.roll}}
      <p>Rol: Admin</p>
    {{else}}
      <p>Rol: Usuario</p>
    
    {{/if}}
    <a href="http://localhost:8080/carts/{{user.cart}}">Ver carrito</a>
    <a href="http://localhost:8080/users/logout">Cerrar sesión</a>
  {{/if}}
</div>
<hr />

<div>
    <h1>Listado de los productos</h1>
  {{#each products}}
    <p>Nombre del producto: {{this.title}}</p>
    <p>Descripcion: {{this.description}}</p>
    <p>Categoria: {{this.category}}</p>
    <p>Precio: {{this.price}}</p>
    <p>Stock actual: {{this.stock}}</p>

    <form action="http://localhost:8080/carts/{{../user.cart}}/product/{{this.id}}" method="POST">
      <button type="submit">Agregar al carrito</button>
    </form>

      <hr />
  {{/each}}
</div>
  <hr />

<div>
  Contador del primer producto mostrado: {{pagingCounter}}
  <br>
  Pagina actual: {{page}}
  <br>
  Numero de paginas: {{totalPages}}
  <hr />

  {{#if hasPrevPage}}
    <a style='text-decoration: none' href='http://localhost:8080/products/?page={{prevPage}}'> ⬅️ </a>
  {{/if}}
  {{page}}
  {{#if hasNextPage}}
    <a style='text-decoration: none' href='http://localhost:8080/products/?page={{nextPage}}'> ➡️</a>
  {{/if}}
</div>

