<div id="product-list">
  <table class="table-light">
    <thead>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">DESCRIPCION</th>
        <th scope="col">CATEGORIA</th>
        <th scope="col">PRECIO</th>
        <th scope="col">CODIGO</th>
        <th scope="col">STOCK</th>
        <th scope="col">FOTO</th>
        <th scope="col">ACCION</th>
      </tr>
    </thead>
    <tbody id="tableP">
      {{#each products}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.category}}</td>
        <td>{{this.price}}</td>
        <td>{{this.code}}</td>
        <td>{{this.stock}}</td>
        <td>
          <img
            src="{{this.thumbnail}}"
            style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);"
          />
        </td>
        <td>
          <button class="button-delete" type="button" value="{{this.id}}">Borrar</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div id="form-container">
  <h2 class="text-center my-4">CREAR PRODUCTO</h2>
<form id="form-products" style="max-width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 6px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
  <div style="margin-bottom: 16px">
    <div style="margin-bottom: 16px">
      <label for="title">Titulo:</label>
      <br />
      <input
        type="text"
        name="title"
        id="form-title"
        style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%;"
      />
    </div>

    <div style="margin-bottom: 16px">
      <label for="description">Descripción:</label>
      <br />
      <input
        type="text"
        name="description"
        id="form-description"
        style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%;"
      />
    </div>

    <div style="margin-bottom: 16px">
      <label for="price">Precio:</label>
      <br />
      <input
        type="number"
        name="price"
        id="form-price"
        style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%;"
        step="1"
      />
    </div>

    <div style="margin-bottom: 16px">
      <label for="code">Codigo:</label>
      <br />
      <input
        type="text"
        name="code"
        id="form-code"
        style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%;"
      />
    </div>

    <div style="margin-bottom: 16px">
      <label for="stock">Stock:</label>
      <br />
      <input
        type="number"
        name="stock"
        id="form-stock"
        style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%;"
        step="1"
      />
    </div>

    <div style="margin-bottom: 16px">
      <label for="category">Categoria:</label>
      <br />
      <input
        type="text"
        name="category"
        id="form-category"
        style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%;"
      />
    </div>

    <div style="margin-bottom: 16px">
      <label for="thumbnail">URL de la Imagen:</label>
      <br />
      <input
        type="text"
        name="thumbnail"
        id="form-thumbnail"
        style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%;"
      />
    </div>

    <div style="display: flex; justify-content: center; align-items: center;">
      <input
        type="submit"
        value="Crear producto"
        class="button-submit"
        id="button-send"
        style="padding: 12px; background-color: #007bff; color: #fff; border: none; border-radius: 4px; cursor: pointer; width: 100%;"
      />
    </div>
  </div>
  </div>
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/products-realtime.js"></script>
